@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark,
        lofi;
}

/* @layer base {
    html {
        font-family: "Inter", sans-serif;
    }
} */

input:focus {
    outline: none;
    border-color: var(--primary);
    border-width: 1.5px;
}
